---
layout: base.njk
title: Page not found
description: The page you were looking for is not here.
permalink: /404.html
---
{% set post = { heading: "Page not found" } %}
{% include "post-header.njk" %}

  <p class="text-center">The page you were looking for is not here. It may have moved when the site was rebuilt.</p>
  <ul class="actions special">
    <li><a class="button primary" href="/">Back to the home page</a></li>
  </ul>
</section>
